body {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
  background: url(images/background.jpg);
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden,
input[type="range"].visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	-webkit-clip-path: inset(100%);
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.introduction {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 20px 0;
}

.description {
  height: 210px;
  order: 2;
  background: #ffffff;
  padding: 20px;
  border: 1px solid black;
  flex-grow: 1;
}

.description__name {
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 0;
}

.description__list {
  padding-left: 20px;
}

.description__item {
  list-style: circle;
  font-size: 20px;
  padding-bottom: 15px;
}

.description__item a {
  color: #111111;
  cursor: pointer;
  text-decoration: none;
}

.description__item a:hover {
  color: #6f7080;
  text-decoration: underline;
}

.image {
  order: 1;
  padding-right: 30px;
}

.education {
  width: 100%;
  background: transparent;
  margin-bottom: 50px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.education__panel {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
  background: #ffffff;
  border: 3px solid #111111;
  z-index: 2;
}

.education__panel p {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}

.education__button {
  border: none;
  background: #ffffff;
  cursor: pointer;
}

.education__button--active {
  transform: rotate(180deg);
}


.education__list--close {
  display: none;
}

.education__list--open {
  border: 1px solid #111111;
  margin-top: 0;
  background: #ffffff;
  animation: open 1.5s ease;
  
}

.education__item {
  list-style: none;
  margin: 20px 0;
}

.education__item-name {
  font-size: 20px;
  margin: 0;
  margin-bottom: 10px;
  font-weight: bold;
}

.education__item-years {
  margin: 0;
  font-style: italic;
}

.projects {
  background: #ffffff;
  padding: 0;
  border: 3px solid #111111;
  overflow: hidden;
  margin: 0 auto;
  margin-bottom: 40px;
  width: auto;
}

.projects__header {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  border-bottom: 3px solid #111111;
  padding: 35px 30px;
  margin: 0;
}

.slider {
  max-width: 100%;
  position: relative;
}

.slider__container {
  max-width: 90%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
  position: relative;
}

.slider__wrapper {
  display: none;
  position: relative;
  animation: 0.5s ease-in-out;
}

.slider__wrapper--active,
.slider__wrapper--next {
  display: block;
}

.slider__wrapper--next {
  position: absolute;
  top: 0;
}

.slider__item {
  display: flex;
  width: auto;
}

.slider__block {
  padding: 50px 10px;
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.slider__image {
  width: 80%;
}

.slider__block-image {
  padding-top: 2px;
}

.slider__button--active,
.slider__button--close {
  display: none;
}

.slider__block-pointer {
  display: block;
  font-size: 25px;
  width: 90%;
  border: 1px solid #111111;
  text-decoration: none;
  color: #111111;
  position: relative;
  padding: 5px 5px 20px;
}

.slider__block-pointer::after {
  content:">";
  font-size: 50px;
  position: absolute;
  bottom: 0;
  right: 10px;
  color: #111111;
}

.slider__block-pointer--mobile {
  display: none;
}


.slider__block-name {
  font-size: 20px;
  text-transform: uppercase;
  padding-left: 30px;
}

.slider__change {
  position: absolute;
  background: transparent;
  padding: 5px 15px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  font-size: 40px;
}

.slider__change--left {
  right: auto;
  left: 5px;
  top: 50%;
}

.slider__change--right {
  left: auto;
  right: 5px;
  top: 50%;
}

.to-left {
  animation-name: left;
}

.to-right {
  animation-name: right;
  animation-direction: reverse;
}

.from-left {
  animation-name: left;
  animation-direction: reverse;
}

.from-right {
  animation-name: right;
}

@keyframes left {
  from {
    left: 0;
  }
  to {
    left: -100%;
  }
}

@keyframes right {
  from {
    left: 100%;
  }
  to {
    left: 0;
  }
}


@keyframes open {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0%);
  }
}

@media screen and (max-width: 765px) {
  body {
    max-width: 765px;
  }

  .introduction {
    justify-content: center;
  }

  .slider__item {
    flex-direction: column;
    align-items: flex-start;
  }

  .slider__block {
    width: 90%;
    padding: 5px;
    align-items: flex-start;
  }

  .slider__image {
    width: 100%;
  }

  .slider__block-name {
    height: 45px;
    padding-left: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .slider__block-pointer {
    display: none;
  }

  .slider__block-pointer--mobile {
    display: block;
    font-size: 14px;
    padding: 5px 5px 10px;
    width: 90%;
    border: 1px solid #111111;
    text-decoration: none;
    color: #111111;
    position: relative;
  }

  .slider__block-pointer--mobile::after {
    content:">";
    position: absolute;
    font-size: 25px;
    bottom: 3px;
    right: 7px;
    color: #111111;
    transform: rotate(90deg);
  }

  .slider__block-image {
    width: 100%;
    height: auto;
  }

  .slider__change {
    padding: 2.5px 7.5px;
    border: none;
    font-size: 20px;
  }

  .slider__change--left {
    left: 2px;
  }

  .slider__change--right {
    right: 2px;
  }
}

.projects__more {
  display: none;
}

@media screen and (max-width: 375px) {
  body {
    max-width: 375px;
    padding: 0;
  }

  .slider__change--left,
  .slider__change--right {
    display: none;
  }

  .slider__button--active {
    display: block;
    position: absolute;
    top: 20px;
    right: 0;
    color: #111111;
    width: 70px;
    font-size: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    border: 1px solid #111111;
    cursor: pointer;
}

  .slider__button--close {
    display: none;
  }

  .slider__block-name {
    width: 200px;
    padding-bottom: 10px;
  }


  .slider__block-list {
    display: none;
  }

  .slider__block {
    padding: 10px;
  }

  .slider__container {
    max-width: 100%;
    margin: 0;
  }

  .slider__block-list--active {
    display: block;
  }

  .slider__block-pointer {
    display: none;
  }

  .slider__block-pointer--mobile {
    display: block;
  }

  .slider__image {
    width: 100%;
  }

  a {
    cursor:default;
  }

  .projects__more {
    display: block;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    color: #ffffff;
    background-color: #6f7080;
  }

}
